<%
  labels = labels || false
%>
<div style="width: 250px; position: absolute; top: 190px; right: 80px; text-align: center;">
  <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;"><br>
  <% if labels %><span style="font-size: 80%; font-weight: bold;">דפדפן<br><% end %>
</div>

<div style="width: 250px; position: absolute; top: 200px; left: 80px; text-align: center;"> 
  <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;"><br>
  <% if labels %><span style="font-size: 80%; font-weight: bold;">שרת</span><% end %>
</div>