
<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;"><br>
    <span style="font-size: 80%; font-weight: bold;">דפדפן / Browser<br>
    לקוח / Client</span>
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;"><br>
    <span style="font-size: 80%; font-weight: bold;">שרת / Server</span>
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div role="note">
    יש לנו לקוח ויש לנו שרת, והם מדברים ביניהם בפרוטוקול HTTP.
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_1" style="display: inline-block; position: absolute; top: 250px; left: 320px;">Request</div>

  <img src="img/icon_document.png" style="position: absolute; top: 163px; left: 240px;">

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_1" style="display: inline-block; position: absolute; top: 250px; left: 320px;">Request</div>

  <div style="position: absolute; top: 53px; left: 375px;">
    <img src="img/icon_document.png">
    <span style="position: absolute; left: 65px; top: 28px; white-space: nowrap; font-size: 16px; direction: ltr;">GET, POST,...</span>
    <!-- <span style="position: absolute; left: -70px; top: 17px; white-space: nowrap; font-size: 28px;">Text</span> -->
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_1" style="display: inline-block; position: absolute; top: 250px; left: 320px;">Request</div>

  <div style="position: absolute; top: 167px; left: 508px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_2" style="display: inline-block; position: absolute; top: 250px; left: 307px;">Processing</div>

  <div style="position: absolute; top: 140px; left: 570px;">
    <img src="img/icon_processing.png" style="width: 50px;">
  </div>
  <div style="position: absolute; top: 115px; left: 600px;">
    <img src="img/icon_processing.png" style="width: 25px;">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_3" style="display: inline-block; position: absolute; top: 250px; left: 320px;">Response</div>

  <div style="position: absolute; top: 300px; left: 508px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_3" style="display: inline-block; position: absolute; top: 250px; left: 320px;">Response</div>

  <div style="position: absolute; top: 420px; left: 378px;">
    <img src="img/icon_document.png">
    <span style="position: absolute; left: 65px; top: 28px; white-space: nowrap; font-size: 16px; direction: ltr;">HTML, image, video,...</span>
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div class="number_3" style="display: inline-block; position: absolute; top: 250px; left: 320px;">Response</div>

  <div style="position: absolute; top: 305px; left: 250px;">
    <img src="img/icon_document.png">
  </div>

  <div role="note">
  </div>
</section>

<section class="light_bg">
  <div style="width: 250px; position: absolute; top: 190px; left: 80px; text-align: center;">
    <img src="img/icon_browser.png" style="width: 150px; margin-bottom: 110px;">
  </div>
  
  <div style="width: 250px; position: absolute; top: 200px; right: 80px; text-align: center;"> 
    <img src="img/icon_server.png" style="width: 150px; margin-bottom: 100px;">
  </div>
  
  <img src="img/arrow_right.png" style="width: 220px; position: absolute; top: 160px; left: 290px;">
  <img src="img/arrow_left.png" style="width: 220px; position: absolute; bottom: 230px; left: 290px;">

  <div style="position: absolute; top: 230px; left: 365px;">
    <img src="img/icon_rotate.png" style="width: 70px;">
  </div>

  <div role="note">
    בעמוד אחד הרבה בקשות
  </div>
</section>