

<section>
  <h1>CSS is Powerful
  <div role="note">
    אומנם ראינו רק כמה דוגמאות בסיסיות איך CSS יכול לעצב עמוד HTML, אבל אפשר לעשות הרבה יותר מזה.<br>
    יש אתר שנקרא CSS Zen Garden שממחיש בדיוק את הנקודה הזאת.<br>
    הקונספט של האתר הוא שה-HTML שלו נשאר תמיד קבוע, ומעצבים מכל העולם בשנים האחרונות קודד עבורו קבצי CSS שמשנים את העיצוב שלו לחלוטין.
    נראה כמה דוגמאות
  </div>
</section>

<section>
  <figure><img src="img/css_zg_1.png"></figure>
  <div role="notes">
    זה למשל דוגמה לעיצוב.
  </div>
</section>

<section>
  <figure><img src="img/css_zg_2.png"></figure>
  <div role="notes">
    וזה עיצוב אחר. שימו לב שהתוכן נשאר בדיוק אותו הדבר. רק העיצוב השתנה.
  </div>
</section>

<section>
  <figure><img src="img/css_zg_3.png"></figure>
  <div role="notes">
    ועוד דוגמה.
  </div>
</section>

<section>
  <figure><img src="img/css_zg_4.png"></figure>
  <div role="notes">
    ועוד אחת אחרונה.
  </div>
</section> 