

    <section>
      <h1>
        CSS
        <small>עיצוב בקוד</small>
      </h1>
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello Rails Girls Tel-Aviv!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <img src="img/code_sample_5.png" style="max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block;" />
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello Rails Girls Tel-Aviv!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <pre style="position: absolute; top: -30px; right: 0; background: #222; height: 280px; padding-left: 20px;">
        <code class="css" style="font-size: 60%;">
body { 
  background-color: Khaki; 
}
        </code>
      </pre>
      <img src="img/code_sample_6.png" style="max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block;" />
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello Rails Girls Tel-Aviv!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <pre style="position: absolute; top: -30px; right: 0; background: #222; height: 280px; padding-left: 20px;">
        <code class="css" style="font-size: 60%;">
body { 
  background-color: Khaki; 
  font-size: 30px;
  color: MidnightBlue;
}
        </code>
      </pre>
      <img src="img/code_sample_7.png" style="max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block;" />
      <div role="note">
      </div>
    </section>

    <section>
      <pre style="margin-top: -50px;">
        <code class="xml" style="font-size: 60%;">
&lt;html&gt;
  &lt;head&gt;
    &lt;title&gt;I&apos;m The Title!&lt;/title&gt;
  &lt;/head&gt;   
  &lt;body&gt;       
    &lt;h1&gt;Hello!&lt;/h1&gt;          
    &lt;p&gt;Hello Rails Girls Tel-Aviv!&lt;/p&gt;
    &lt;a href=&quot;http://...&quot;&gt;Our Website&lt;/a&gt;
    &lt;img src=&quot;cupcake.jpg&quot;&gt;
  &lt;/body&gt;
&lt;/html&gt;
        </code>
      </pre>
      <pre style="position: absolute; top: -30px; right: 0; background: #222; height: 280px; padding-left: 20px;">
        <code class="css" style="font-size: 60%;">
body { 
  background-color: Khaki; 
  font-size: 30px;
  color: MidnightBlue;
}
a { color: FireBrick; }
img {
  border: 2px solid black;
}
        </code>
      </pre>
      <img src="img/code_sample_8.png" style="max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block;" />
      <div role="note">
      </div>
    </section>