

<section>
  <img src="img/browser_blank.png" style="max-width: 80%; margin: auto; margin-top: 40px; box-shadow: 0 0 30px black; display: block;" />
  <div role="note">
    אז מה קורה כשאנחנו גולשים באינטרנט?<br>
    פתחתי את הדפדפן
  </div>
</section>

<section>
  <img src="img/browser_address.png" style="max-width: 80%; margin: auto; margin-top: 40px; box-shadow: 0 0 30px black; display: block;" />
  <div style="background: rgba(242,255,0, 0.5); width: 112px; height: 25px; position: absolute; top: 60px; left: 177px;"></div>
  <div role="note">
    גלשתי לכתובת...
  </div>
</section>

<section>
  <img src="img/browser_loaded.png" style="max-width: 80%; margin: auto; margin-top: 40px; box-shadow: 0 0 30px black; display: block;" />
  <div role="note">
    וקיבלתי את האתר.<br>
    אז מה קרה פה?<br><br>

    נקודת מבט של משתמשת.<br>
    אבל... מנקודת מבט של מפתחת...<br>
  </div>
</section>