

<section>
  <h2>אז מה קורה כשאנחנו <br>גולשים באינטרנט?</h2>
</section>

<section>
  <img src="img/browser_blank.png" style="max-width: 80%; margin: auto; margin-top: 40px; box-shadow: 0 0 30px black; display: block;" />
  <div role="note">
    פתחתי את הדפדפן
  </div>
</section>

<section>
  <img src="img/browser_address.png" style="max-width: 80%; margin: auto; margin-top: 40px; box-shadow: 0 0 30px black; display: block;" />
  <div style="background: rgba(242,255,0, 0.5); width: 112px; height: 25px; position: absolute; top: 60px; left: 177px;"></div>
  <div role="note">
    גלשתי לכתובת...
  </div>
</section>

<section>
  <img src="img/browser_loaded.png" style="max-width: 80%; margin: auto; margin-top: 40px; box-shadow: 0 0 30px black; display: block;" />
  <div role="note">
    וקיבלתי את האתר.<br>
    אז מה קרה פה?
  </div>
</section>

<section>
  <h2 class="opposite">נקודת מבט של <strong>משתמש</strong></h2>
  <div role="note">
    <ul>
      <li>קיבלתי את האתר שרציתי</li>
      <li>פחות משנייה</li>
      <li>זה היופי ב-Web: פשוט.</li>
    </ul>
  </div>
</section>

<section>
  <h2 class="opposite">נקודת מבט של <strong>מפתח</strong></h2>
  <div role="note">
    <ul>
      <li>מלא דברים</li>
      <li>בקשות לשרתים מרוחקים</li>
      <li>קבלה של HTML ודברים אחרים</li>
      <li>בנייה של הדף</li>
    </ul>
  </div>
</section>

<section>
  <h1>מה זה שרת?</h1>
  <div role="note">
    אז מה זה שרת?<br>
  </div>
</section>

<section>
  <p>
    שרת הוא <strong>מחשב</strong> שמספק <strong>שירות</strong>.
  </p>
  <div role="note">
    שרת, או באנגלית Server, הוא פשוט מחשב שמספק שירות.
  </div>
</section>

<section>
  <p>
    אתר, אימיילים, צ'אט,...
  </p>
  <div role="note">
    השירות הזה יכול להיות אתר, אימיילים או צ'אט.
  </div>
</section>

<section>
  <p>
    שרת שמספק אתרים נקרא <strong>שרת Web</strong>.
  </p>
  <div role="note">
    שרת שמספק אתרים נקרא שרת Web (או: Web Server).
  </div>
</section>

<section>
  <h1>תקשורת</h1>
  <div role="note">
    עכשיו נלמד איך הדפדפן מתקשר עם השרת.
  </div>
</section>

<section>
  <h2>פרוטוקול</h2>
  <div role="note">

  </div>
</section>
<!-- 
<section>
  פרוטוקול פורמלי<br>
  פרוטוקול לא פורמלי
  <div role="note">

  </div>
</section> -->

<section>
  <h2>
    HTTP
    <small>Hyper Text Transfer Protocol</small>
  </h2>
  <div role="note">

  </div>
</section>
