
<section>
    <h2>
      HTML
    </h2>
    <div role="note">
      למי שעדיין לא יצא לה לתכנת<br>
      <p class="note_teaser">אל תבהלי</p>
    </div>
</section>

<section>
    <figure>
      <img src="img/cat.jpg" style="width: auto; height: auto; position: relative; top: 50%; margin-top: -175px; right: 50%; margin-right: -154px;" />
    </figure>
    <div role="note">אתן הולכות לראות קוד.</div>
</section>