
<section>
    <h2>
      Hyper Text
      <small>יותר מסתם טקסט</small>
    </h2>
    <div role="note">
      אבל המסמך שלנו הוא לא סתם טקסט, הוא Hyper-Text.<br>
      Hyper מלשון "מעבר", או "יותר מ-".<br>
      יש בו גם תמונות, ווידאו, ורשימות וטבלאות וקישורים.
    </div>
</section>

<section>
    <p style="margin-top: 50px; margin-bottom: 50px;">
      הדפדפן היא תוכנה שיודעת להציג <strong>מסמכי Hyper Text</strong>
    </p>
    <img src="img/browser_loaded.png" style="max-width: 80%; display: block; margin: auto;">
    <div role="note">
    </div>
</section>

<section>
    <h2>
      HTML
      <small>Hyper Text Markup Language</small>
    </h2>
    <div role="note">
      את המסמכים האלה אנחנו <strong>מגדירים</strong> באמצעות <strong>שפה</strong> שנקראת HTML.<br>
      Hyper Text Markup Language
      <p class="note_teaser">אל תבהלו</p>
    </div>
</section>

<section>
    <figure>
      <img src="img/cat.jpg" style="width: auto; height: auto; position: relative; top: 50%; margin-top: -175px; right: 50%; margin-right: -154px;" />
    </figure>
    <div role="note">אתן הולכות לראות קוד.</div>
</section>