
<section>
  <h2 style="margin-top: 20px; margin-bottom: 0px;">תגיות כלליות</h2>
  <pre style="position: relative; top: -10px; left: 20px; font-size: 80%;"><code class="xml">
&lt;div&gt;Division&lt;/div&gt;
&lt;span&gt;Span1&lt;/span&gt;
&lt;span&gt;Span2&lt;/span&gt;</code>
  </pre>
  <div class="code_sample" style="margin-top: 50px;">
    <div style="text-shadow: none;">Division</div>
    <span style="text-shadow: none;">Span1</span>
    <span style="text-shadow: none;">Span2</span>
  </div>
</section>

<section>
  <h2 style="margin-top: 20px; margin-bottom: 0px;">תגיות כלליות</h2>
  <pre style="position: relative; top: -10px; left: 20px; font-size: 80%;"><code class="xml">
&lt;div&gt;Division&lt;/div&gt;
&lt;span&gt;Span1&lt;/span&gt;
&lt;span&gt;Span2&lt;/span&gt;</code>
  </pre>
      <pre style="position: absolute; top: 130px; right: 20px; background: #222; height: 190px; padding-left: 0px;"><code class="css" style="font-size: 80%;">div { 
  background: red;
}
span {
  border: 3px solid blue;
}
        </code>
      </pre>
  <div class="code_sample" style="margin-top: 50px;">
    <div style="text-shadow: none; background: red;">Division</div>
    <span style="text-shadow: none; border: 3px solid blue;">Span1</span>
    <span style="text-shadow: none; border: 3px solid blue;">Span2</span>
  </div>
</section>

<section>
  <h2 style="margin-top: 20px; margin-bottom: 0px;">Class</h2>
  <pre style="position: relative; top: -10px; left: 50px; font-size: 80%;"><code class="xml">
&lt;span class="date"&gt;21/3/14&lt;/span&gt;
&lt;span class="total"&gt;34&lt;/span&gt;</code>
  </pre>
      <pre style="position: absolute; top: 210px; left: 60px; background: #222; height: 100px; padding-left: 0px;"><code class="css" style="font-size: 80%;">.date { font-size: 12px; }
.total { font-size: 20px; font-weight: bold; }
        </code>
      </pre>
  <div class="code_sample" style="margin-top: 100px;">
    <span style="text-shadow: none; font-size: 20px;">21/3/14</span>
    <span style="text-shadow: none; font-size: 34px; font-weight: bold;">34</span>
  </div>
</section>
