
<section>
  <pre style="margin-top: -30px; margin-left: -20px;">
    <code class="html" style="font-size: 60%;">
      &lt;table&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>
<section>
  <pre style="margin-top: -30px; margin-left: -20px;">
    <code class="html" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>
<section>
  <pre style="margin-top: -30px; margin-left: -20px;">
    <code class="html" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Sign up date&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>
<section>
  <pre style="margin-top: -30px; margin-left: -20px;">
    <code class="html" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Sign up date&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Mariana&lt;/td&gt;
            &lt;td&gt;12/04/2017 14:13:21&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>
<section>
  <pre style="margin-top: -30px; margin-left: -20px;">
    <code class="html" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Sign up date&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Mariana&lt;/td&gt;
            &lt;td&gt;12/04/2017 14:13:21&lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
            &lt;td&gt;Lea&lt;/td&gt;
            &lt;td&gt;15/04/2017 11:03:59&lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
            &lt;td&gt;Dana&lt;/td&gt;
            &lt;td&gt;22/04/2017 22:10:49&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
  </pre>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: -30px; margin-left: -20px;">
    <code class="html" style="font-size: 60%;">
      &lt;table&gt;
        &lt;thead&gt;
          &lt;tr&gt;
            &lt;th&gt;Name&lt;/th&gt;
            &lt;th&gt;Sign up date&lt;/th&gt;
          &lt;/tr&gt;
        &lt;/thead&gt;

        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;td&gt;Mariana&lt;/td&gt;
            &lt;td&gt;12/04/2017 14:13:21&lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
            &lt;td&gt;Lea&lt;/td&gt;
            &lt;td&gt;15/04/2017 11:03:59&lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
            &lt;td&gt;Dana&lt;/td&gt;
            &lt;td&gt;22/04/2017 22:10:49&lt;/td&gt;
          &lt;/tr&gt;
        &lt;/tbody&gt;
      &lt;/table&gt;
    </code>
    <div class="code_sample" style="position: absolute; top: 100px; right: 42px; max-width: 80%; margin: auto; margin-top: -71px; box-shadow: 0 0 20px black; display: block; font-size: 15px; background-image: url(img/browser_title.png); background-size: cover;">
      <table>
       <thead>
         <tr>
           <th>Name</th>
           <th>Sign up date</th>
         </tr>
       </thead>

       <tbody>
         <tr>
           <td>Mariana</td>
           <td>12/04/2017 14:13:21</td>
         </tr>

         <tr>
           <td>Lea</td>
           <td>15/04/2017 11:03:59</td>
         </tr>

         <tr>
           <td>Dana</td>
           <td>22/04/2017 22:10:49</td>
         </tr>
       </tbody>
     </table>
    </div>
  </pre>
  <div role="note">
  </div>
</section>
