

<section>
  <h2 style="position: absolute; top: 50px; left: 50px; text-align: left; margin-top: 0;">
    HTTP
    <small>Hyper Text Transfer Protocol</small>
  </h2>
  <div class="http_code" style="position: absolute; top: 200px; left: 50px; height: 250px;">
    GET /tel-aviv HTTP/1.1<br>
    Host: railsgirls.com
  </div>
  <div class="http_code" style="position: absolute; top: 200px; right: 50px; height: 250px;">
    HTTP/1.1 200 OK<br>
    Content-Length: 2785<br>
    Content-Type: text/html<br><br>

    &lt;html&gt;<br>
    &nbsp;&nbsp;  &lt;!-- Content omitted --&gt;<br>
    &lt;/html&gt;<br>
  </div>
  <div role="note">
  </div>
</section>  