<section>
    <p>מה נלמד?</p>
    <ol class="incremental" style="list-style-type: numbers; margin-top: 100px; margin-right: 150px; font-size: 40px;">
      <li>מה זה <strong>Web</strong>?</li>
      <li>איך <strong>הדפדפן</strong> עובד</li>
      <li>מה זה <strong>שרת</strong>?</li>
      <li>איך <strong>הדפדפן</strong> ו<strong>השרת</strong> מתקשרים</li>
      <li>איך <strong>השרת</strong> עובד</li>
    </ol>

    <div role="note">
      אז מה נלמד?
      <p class="note_read">קראי את השקופית</p>
    </div>
</section>