
<section>
    <h2>
      Layout
    </h2>
    <div role="note">

    </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div&gt;
  &lt;div&gt;&lt;/div&gt;
  &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px;  padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;" class="clearfix">
      <div style="background: red; width: 40%; height: 100px; float: left;"></div>
      <div style="background: yellow; width: 40%; height: 100px; float: right;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container&quot;&gt;
  &lt;div&gt;&lt;/div&gt;
  &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px;  padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;" class="clearfix">
    </div>
  </div>
  <div role="note">
  </div>
</section>



<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;box1&quot;&gt;&lt;/div&gt;
  &lt;div&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
.box1 { 
  width: 40%; 
  height: 100px; 
  background: red;
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px; padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;">
      <div style="background: red; width: 40%; height: 100px;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>



<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;box1&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;box2&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
.box1 { 
  width: 40%; 
  height: 100px; 
  background: red;
}
.box2 { 
  width: 40%; 
  height: 100px; 
  background: yellow;
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px; padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;">
      <div style="background: red; width: 40%; height: 100px;"></div>
      <div style="background: yellow; width: 40%; height: 100px;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;box1&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;box2&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
.box1, .box2 { 
  width: 40%; 
  height: 100px; 
}
.box1 { 
  background: red; 
}
.box2 { 
  background: yellow; 
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px; padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;">
      <div style="background: red; width: 40%; height: 100px;"></div>
      <div style="background: yellow; width: 40%; height: 100px;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container&quot;&gt;
  &lt;div class=&quot;box1&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;box2&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
.box1, .box2 { 
  width: 40%; 
  height: 100px; 
}
.box1 { 
  background: red; 
  <span style="border: 2px solid #F92672;">float: left;</span>
}
.box2 { 
  background: yellow; 
  <span style="border: 2px solid #F92672;">float: right;</span>
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px;  padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;">
      <div style="background: red; width: 40%; height: 100px; float: left;"></div>
      <div style="background: yellow; width: 40%; height: 100px; float: right;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container <span style="border: 2px solid #F92672;">clearfix</span>&quot;&gt;
  &lt;div class=&quot;box1&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;box2&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
.box1, .box2 { 
  width: 40%; 
  height: 100px; 
}
.box1 { 
  background: red; 
  float: left;
}
.box2 { 
  background: yellow; 
  float: right;
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px;  padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;" class="clearfix">
      <div style="background: red; width: 40%; height: 100px; float: left;"></div>
      <div style="background: yellow; width: 40%; height: 100px; float: right;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>

<section>
  <pre style="margin-top: 0px; margin-left: 20px; margin-bottom: 100px;">
    <code class="xml" style="font-size: 60%;">
&lt;div class=&quot;container clearfix&quot;&gt;
  &lt;div <span style="border: 2px solid #F92672;">id=&quot;box1&quot; class=&quot;box&quot;</span>&gt;&lt;/div&gt;
  &lt;div <span style="border: 2px solid #F92672;">id=&quot;box2&quot; class=&quot;box&quot;</span>&gt;&lt;/div&gt;
&lt;/div&gt;
    </code>
  </pre>
  <pre style="position: absolute; top: 200px; left: 20px; background: #222; height: 380px; padding-left: 20px;"><code class="css" style="font-size: 60%;">
.container {
  background: blue; 
  padding: 20px;
}
<span style="border: 2px solid #F92672; font-weight: normal;">.box</span> { 
  width: 40%; 
  height: 100px; 
}
<span style="border: 2px solid #F92672;">#box1</span> { 
  background: red; 
  float: left;
}
<span style="border: 2px solid #F92672;">#box2</span> { 
  background: yellow; 
  float: right;
}
    </code>
  </pre>
  <div class="code_sample" style="position: absolute; top: 200px; left: 400px; width: 500px;  padding-right: 15px;">
    <div style="background: blue; padding: 20px; width: 370px;" class="clearfix">
      <div style="background: red; width: 40%; height: 100px; float: left;"></div>
      <div style="background: yellow; width: 40%; height: 100px; float: right;"></div>
    </div>
  </div>
  <div role="note">
  </div>
</section>