

<section>
    <ol style="list-style-type: numbers; margin-top: 100px; margin-right: 150px; font-size: 40px;">
      <li class="check">מה זה Web?</li>
      <li class="check">איך הדפדפן עובד</li>
      <li class="check">מה זה שרת?</li>
      <li class="check">איך הדפדפן והשרת מתקשרים</li>
      <li><strong>איך השרת עובד</strong></li>
    </ol>

    <div role="note">
      דיברנו כבר על...<br>
      עכשיו נלמד איך השרת עובד.
      <!-- ... אבל לפני שנדבר על איך השרת עובד, אני רוצה לחזור שוב לדפדפן ולספר לכם איך אנחנו גורמים לאתר הקטן שבנינו להראות טוב יותר. -->
    </div>
</section>