

<section>
  <p style="margin-top: 50px;">
    <strong>שרת Web</strong> בד"כ מכיל את המרכיבים הבאים:
  </p>
  <table style="width: 80%; margin: auto; margin-top: -30px; border: 5px solid #111; background: #222; border-collapse: collapse; text-align: center;">
    <tr>
      <td style="width: 50%; border: 5px solid #111; padding: 40px; background: #6CDFEA; color: #000; text-shadow: none;">Data Base (בסיס נתונים)</td>
    </tr>
    <tr>
      <td style="border: 5px solid #111; padding: 40px; background: #ff428d; padding: 40px; color: #000; text-shadow: none;">לוגיקה</td>
    </tr>
    <tr>
      <td style="border: 5px solid #111; background: #C3FF68; padding: 40px; color: #000; text-shadow: none;">תשתית</td>
    </tr>
  </table>
  <div role="note">
  </div>
</section>

<!-- <section>
  אתר סטטי לעומת אתר דינאמי
  <div role="note">
  </div>
</section> -->

<section class="blue">
  <p><strong>בסיס נתונים</strong> הוא אוסף של טבלאות</p>
  <table class="table" style="margin: auto;">
    <thead>
      <th>מספר</th>
      <th>שם</th>
      <th>סוג</th>
      <th>מין</th>
      <th>צבע פרווה</th>
      <th>תאריך לידה</th>
      <th>חמוד?</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>לוסי</td>
        <td>לברדור</td>
        <td>נקבה</td>
        <td>בלונד</td>
        <td>12.7.2011</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>2</td>
        <td>מוטי</td>
        <td>באסט האונד</td>
        <td>זכר</td>
        <td>שחור</td>
        <td>14.2.2010</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>3</td>
        <td>פירוס</td>
        <td>לברדור</td>
        <td>זכר</td>
        <td>לבן</td>
        <td>5.10.2003</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>4</td>
        <td>יאנה</td>
        <td>זאב</td>
        <td>נקבה</td>
        <td>חום-שחור</td>
        <td>15.1.2012</td>
        <td>כן</td>
      </tr>
      <tr>
        <td>5</td>
        <td>בל</td>
        <td>האסקי</td>
        <td>נקבה</td>
        <td>אפור-לבן</td>
        <td>22.11.2008</td>
        <td>כן</td>
      </tr>
    </tbody>
  </table>
  <div role="note">
    אוסף של טבלאות<br>
    הסבר על הטבלה<br>
    עמודה = שדה<br>
    שורה = רשומה<br>
  </div>
</section>

<section class="pink">
  <p><strong>הלוגיקה</strong> משתמשת ב-Data Base בשביל לייצר מסמכי HTML</p>
  <p>אנחנו נלמד לתכנת לוגיקה ב-<strong>Ruby on Rails</strong></p>
  <div role="note">
  </div>
</section>

<section>
  <p><strong>התשתית</strong> מקשרת בין האינטרנט ושאר מרכיבי השרת.</p>
  <div role="note">
  </div>
</section>