

<section>
  <p style="font-size: 150%; margin: 60px 75px;">
    <strong>השרת</strong> מקבל <strong>בקשת HTTP</strong> באמצעות <strong>התשתית</strong>.
  </p>
  <p style="font-size: 150%; margin: 60px 75px;">
    <strong>התשתית</strong> מעבירה את הבקשה <strong>ללוגיקה</strong>.
  </p>
  <p style="font-size: 150%; margin: 60px 75px;">
    <strong>הלוגיקה</strong> משתמשת ב-<strong>Data Base</strong> כדי להרכיב מסמך <strong>HTML</strong>.
  </p>
  <div role="note">
    סיכום
    <p class="note_read">קראי את השקופית</p>
  </div>
</section>

<section>
  <h1>אז מה למדנו?</h1>
</section>

<section>
  <ul class="incremental" style="margin: 50px 120px 50px 70px; font-size: 140%;">
    <li style="margin-bottom: 40px;">ה-<strong>Web</strong> הוא אוסף של מסמכי <strong>Hyper Text</strong> מקושרים.</li>
    <li style="margin-bottom: 40px;"><strong>הדפדפן</strong> שולח בשבילנו <strong>בקשות HTTP</strong> ל<strong>שרתי Web</strong> ובונה עמוד לפי ה-<strong>HTML</strong> שהוחזר.</li>
    <li><strong>שרת Web</strong> מקבל <strong>בקשות HTTP</strong>, ומשתמש ב-<strong>Data Base</strong> בשביל להרכיב מסמך <strong>HTML</strong>.</li>
  </ul>
</section>