

<section>
  <style>
    .language-summary {
      margin: 110px 70px 0 0;
    }
    .language-summary td {
      padding-right: 30px;
      padding-bottom: 30px;
    }
    .language-summary td:nth-child(2) {
      font-weight: bold;
    }
  </style>
  <table class="language-summary" style="margin-top: 50px;">
    <tr>
      <td>
        <pre><code class="xml" style="font-size: 90%;">&lt;h1&gt;Heading&lt;/h1&gt;
&lt;p&gt;Paragraph&lt;/p&gt;
&lt;a href=&quot;http://...&quot;&gt;...&lt;/a&gt;
&lt;img src=&quot;cupcake.jpg&quot;&gt;
&lt;html&gt; &lt;head&gt; &lt;body&gt; &lt;title&gt;
&lt;div id=&quot;box1&quot; class=&quot;box&quot;&gt;
&lt;div class=&quot;clearfix&quot;&gt;
</code></pre>
      </td>
      <td>HTML</td>
    </tr>
    <tr>
      <td>
        <pre><code class="css" style="font-size: 90%;">body { background: blue; }
h1 { color: red; }
img { border: 2px solid black; }
div { padding: 20px; }
#box1 { float: left; }
#box1, #box2 { width: 40%; }
.box { height: 100px; }
        </code></pre>
      </td>
      <td>CSS</td>
    </tr>
  </table>

  <div role="note">

  </div>

</section>