

<section>
  <h2 style="margin-top: 100px; margin-right: 150px; text-align: right;">אז מה למדנו?</h2>

  <ul style="margin-right: 185px; font-size: 150%;">
    <li>HTML</li>
    <li>CSS</li>
    <li>תקשורת</li>
    <li>Rails - Controller</li>
    <li>Rails - View</li>
</section>