

<section>
  <style>
    .language-summary {
      margin: 110px 70px 0 0;
    }
    .language-summary td {
      padding-right: 30px;
      padding-bottom: 30px;
    }
    .language-summary td:nth-child(2) {
      font-weight: bold;
    }
  </style>
  <table class="language-summary">
    <tr>
      <td>
        <pre><code class="xml" style="font-size: 90%;">&lt;img src=&quot;cupcake.jpg&quot;&gt;</code></pre>
      </td>
      <td>HTML</td>
    </tr>
    <tr>
      <td>
        <pre><code class="css" style="font-size: 90%;">h1 { color: red; }</code></pre>
      </td>
      <td>CSS</td>
    </tr>
    <tr>
      <td><pre><code class="ruby" style="font-size: 90%;">@dogs = Dog.all</code></pre></td>
      <td>Controller</td>
    </tr>
    <tr>
      <td><pre><code class="erb" style="font-size: 90%;">&lt;% @dogs.each do |dog| %&gt;</code></pre></td>
      <td>View</td>
    </tr>
  </table>

  <div role="note">
    למדנו 4 דרכים להגיד דברים.<br><br>
    לכל דרך יש תפקיד<br>
  </div>

</section>