

<section>
  <pre class="xml" style="text-align: center; margin-top: 200px;">
    <code>&lt;/הסוף&gt;</code>
  </pre>

  <footer>
    <a href="http://www.wpzoom.com/wpzoom/new-freebie-wpzoom-developer-icon-set-154-free-icons/" style="text-decoration: none;">
      <img src="img/icon_server.png" style="width: 50px;">
    </a>
    <a href="https://www.iconfinder.com/iconsets/picol-vector#readme" style="text-decoration: none;">
      <img src="img/icon_document.png" style="width: 50px;">
    </a>
    <a href="https://www.iconfinder.com/iconsets/pictype-free-vector-icons#readme" style="text-decoration: none;">
      <img src="img/icon_rotate.png" style="width: 50px;">
    </a>
  </footer>
  <div role="note">
    שאלות?
  </div>
</section>