

<section>
  <pre class="xml" style="text-align: center; margin-top: 200px;">
    <code>&lt;/מבוא&gt;</code>
  </pre>

  <footer>
    <p style="margin: 0 0 10px 0; font-size: 20px; text-align: left; direction: ltr;">
      Inspired by Konstantin Tennhard's presentation <a href="https://speakerdeck.com/railsgirlsfrankfurt/how-the-internet-works" style="color: #66D9EF;">How the Internet Works</a>.
    </p>

    <p style="margin: 0; font-size: 20px; text-align: left; direction: ltr;">
      <span style="display: inline-block; position: relative; top: -7px;">Icons by: </span>

      <a href="http://www.wpzoom.com/wpzoom/new-freebie-wpzoom-developer-icon-set-154-free-icons/" style="text-decoration: none; background: #F2FCA8; display: inline-block;">
        <img src="img/icon_server.png" style="width: 30px;">
      </a>
      <a href="https://www.iconfinder.com/iconsets/picol-vector#readme" style="text-decoration: none; background: #F2FCA8; display: inline-block; padding-left: 5px;">
        <img src="img/icon_document.png" style="width: 30px;">
      </a>
      <a href="https://www.iconfinder.com/iconsets/pictype-free-vector-icons#readme" style="text-decoration: none; background: #F2FCA8; display: inline-block;">
        <img src="img/icon_rotate.png" style="width: 30px;">
      </a>
      <a href="https://www.iconfinder.com/iconsets/medcare#readme" style="text-decoration: none; background: #F2FCA8; display: inline-block;">
        <img src="img/icon_data.png" style="width: 30px;">
      </a>
      <a href="https://www.iconfinder.com/icons/97577/browser_internet_url_web_website_www_icon#size=57" style="text-decoration: none; background: #F2FCA8; display: inline-block;">
        <img src="img/icon_browser.png" style="width: 30px;">
      </a>


    </p>
  </footer>
  <div role="note">
    שאלות?
  </div>
</section>