
<section>
    <p>ה-<strong>Web</strong> הוא אוסף של <strong>מסמכים מקושרים</strong> שנמצאים <strong>באינטרנט</strong>.</p>

    <div class="light_bg" style="text-align: center;">
      <img src="img/web.png">
    </div>

    <div role="note">
      <div class="note_read">קראי את השקופית</div>
      אתר = קבוצה של מסמכים
    </div>
</section>